{% extends "base.html" %}

{% block content %}

<h1 class="govuk-heading-l">
    Operations Engineering Reports
</h1>

<p class="govuk-body">
  This website lists both public and private MoJ GitHub repositories which are and are not fully compliant with our organisation standards.

  The list of standards used can be found at the <a href="https://github.com/ministryofjustice/github-repository-standards">GitHub Standards Repository</a>
</p>

<p class="govuk-body">
  Please note: in order to view private repositories you must login to GitHub.
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" id="public-github-repositories"><a href="public-github-repositories.html">Public GitHub Repositories</a></h2>
  </div>
</div>
{{ super() }}

{% endblock %}
