{% extends "base.html" %}

{% block content %}
 <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1 class="govuk-heading-l">Private Repositories Report</h1>

<h2 class="govuk-heading-m">Last updated: {{ last_updated }}</h2>

<p class="govuk-body">
	 This report shows the number of private GitHub repositories that are compliant and non-compliant with the Ministry of Justice technical standards.
</p>

<p class="govuk-body">
Out of {{ total }} <a href="/all-private-repositories.html">private repositories</a>, {{ compliant }} are <a href="/compliant-private-repositories.html">compliant</a> and {{ non_compliant }} are <a href="/non-compliant-private-repositories.html">non-compliant<a>.
</p>

<p class="govuk-body">
    Please note that this report is based on the latest data from GitHub and may not reflect the current state of the
    repositories.
</p>


<form action="/search" method="get" class="govuk-form-group">
    <div class="govuk-form-group">
        <input class="govuk-input" id="search" name="q" type="text" placeholder="Repository Name" autocomplete="off">
    </div>
    <button class="govuk-button" type="submit" style="margin-top: 10px;">Search</button>
</form>
<div id="search-results"></div>
<script>
    $(document).ready(function () {
        $('input[type="text"]').on('keyup', function () {
            let query = $(this).val();
            if (!query) {
                // If the search bar is empty, clear the search results
                $("#search-results").html("");
                return;
            }
            $.get("/search-private-repositories", { q: query }, function (data) {
                $("#search-results").html(data);
            });
        });
    });
</script>

<canvas id="myChart"></canvas>
<script>
    // Register the plugin to all charts:
    Chart.register(ChartDataLabels);
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Compliant', 'Non-Compliant'],
            datasets: [{
                data: [{{ compliant }}, {{ non_compliant }}],
        backgroundColor: [
            '#4daf4a',
            '#e41a1c'
        ],
        borderColor: [
            '#4daf4a',
            '#e41a1c'
        ],
        borderWidth: 1
    }]
    },
    options: {
        responsive: true,
            plugins: {
            datalabels: {
                color: '#000000',
                    formatter: (value, ctx) => {
                        let datasets = ctx.chart.data.datasets;

                        if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                            let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                            let percentage = Math.round((value / sum) * 100) + '%';
                            return ctx.chart.data.labels[ctx.dataIndex] + ": " + percentage;
                        } else {
                            return percentage;
                        }
                    },
            }
        },
        onClick: function(evt, activeElements) {
            var elementIndex = activeElements[0].index;
            var url = this.data.labels[elementIndex] === "Compliant" ? '/compliant-private-repositories.html' : '/non-compliant-private-repositories.html';
            window.location.href = url;
        }
    }
});
</script>


{{ super() }}

{% endblock %}

