{% extends "base.html" %}

{% block content %}
<h1 class="govuk-heading-l">
    <span class="govuk-caption-xl">Repositories report</span>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc.1"></script>


  {% if updated_at %}
    <span class="govuk-caption-m">Updated: {{ updated_at }} UTC</span>
  {% endif %}
</h1>

<form action="/search" method="get" class="govuk-form-group">
    <div class="govuk-form-group">
        <input class="govuk-input" id="search" name="q" type="text" placeholder="Repository Name" autocomplete="off">
    </div>
    <button class="govuk-button" type="submit" style="margin-top: 10px;">Search</button>
</form>
    <div id="search-results"></div>
<script>
$(document).ready(function(){
  $('input[type="text"]').on('keyup', function(){
    let query = $(this).val();
    if (!query) {
      // If the search bar is empty, clear the search results
      $("#search-results").html("");
      return;
    }
    $.get("/search", {q: query}, function(data){
      $("#search-results").html(data);
    });
  });
});
</script>

<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Compliant', 'Non-compliant'],
        datasets: [{
            data: [{{ compliant }}, {{ non_compliant }}],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        legend: {
            position: 'top',
        },
        plugins: {
            datalabels: {
                formatter: (value, ctx) => {
                    let sum = 0;
                    let dataArr = ctx.chart.data.datasets[0].data;
                    dataArr.map(data => {
                        sum += data;
                    });
                    let percentage = (value*100 / sum).toFixed(2)+"%";
                    return percentage;
                },
                color: '#fff',
            }
        },
        onClick: function(evt, activeElements) {
            if(activeElements.length > 0) {
                var idx = activeElements[0].index;
                var label = myChart.data.labels[idx];
                var value = myChart.data.datasets[0].data[idx];
                var URL = label == "Compliant" ? "/compliant" : "/noncompliant";
                window.open(URL, '_blank');  // Open the new URL in a new tab
            }
        }
    }
});

</script>

{{ super() }}

{% endblock %}
