{% extends "base.html" %}

{% block content %}
<h1 class="govuk-heading-l">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {% if updated_at %}
    <span class="govuk-caption-m">Updated: {{ updated_at }} UTC</span>
  {% endif %}
</h1>

<form action="/search" method="get" class="govuk-form-group">
    <div class="govuk-form-group">
        <label class="govuk-label" for="search">Repositories report</label>
        <input class="govuk-input" id="search" name="q" type="text" placeholder="Repository Name">
    </div>
    <button class="govuk-button" type="submit" style="margin-top: 10px;">Search</button>
</form>
    <canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Value 1', 'Value 2'],
            datasets: [{
                data: [{{value1}}, {{value2}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
        }
    });
</script>

{{ super() }}

{% endblock %}
