report_app/templates/base.html
report_app/templates/403.html
report_app/templates/404.html
report_app/templates/500.html
report_app/templates/home.html
report_app/templates/index.html
report_app/templates/private-github-repositories.html
report_app/templates/public-github-repositories.html
venv
.mypy_cache