# Production
authlib~=1.2.1
boto3~=1.26.159
botocore~=1.29.159
cryptography~=42.0.2
flask~=3.0.2
flask-cors==4.0.0
govuk-frontend-jinja==2.7.0
gunicorn==21.2.0
Jinja2~=3.1.2
python-dotenv~=1.0.0
requests~=2.31.0
setuptools~=69.0.3

# Development
pytest~=8.0.2