<h1>GitHub Collaborators</h1>

<p>
  GitHub users with access to ministryofjustice repositories
  who are <b>not</b> members of the ministryofjustice
  GitHub organization.
</p>

<% if list.any? %>
  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Repository</th>
          <th>Collaborator</th>
        </tr>
      </thead>
      <tbody>
        <% list.each do |item| %>
          <tr>
            <td> <%= link_to item.repository, item.repo_url %> </td>
            <td> <%= link_to item.login, item.login_url %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h1>
    Awaiting data
  </h1>
<% end %>
