<h1>GitHub Collaborators</h1>

<p>
  GitHub users with access to ministryofjustice repositories
  who are <b>not</b> members of the ministryofjustice
  GitHub organization.
</p>

<% if data.list.any? %>
  <div class="row">
    <ul>
    <% data.repositories.each do |item| %>
      <li>
        <%= link_to item.repository, item.repo_url %>
        <ul>
          <% data.repository_collaborators(item.repository).each do |collab| %>
            <li>
              <%= link_to collab.login, collab.login_url %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </div>
<% else %>
  <h1>
    Awaiting data
  </h1>
<% end %>
